* {
    box-sizing: border-box;
}
body {
    font-family: "carnero", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
        Verdana, sans-serif;

        p{
            color: #525452;
        }

    header {
        width: 100%;
        height: 26vh;
        display: flex;
        flex-direction: column;

        .top {
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: 14vh;

            figure {
                img {
                    margin: 11px 0 30px 17px;
                }
            }
            .clock {
                display: flex;
                align-items: center;

                p {
                    color: #525452;
                    font-size: 15px;
                }

                figure {
                    display: flex;
                    align-items: center;
                    margin-right: 12px;

                    img {
                        width: 2vw;
                        margin: 29px 0 30px 17px;
                    }
                }
            }

            .phone {
                display: flex;
                align-items: center;
                border: none;

                figure {
                    display: flex;
                    align-items: center;
                    margin-right: 10px;

                    img {
                        width: 1.9vw;
                        margin: 29px 0 30px 17px;
                    }
                }
                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: #525452;
                    font-size: 15px;
                }
            }
            .button {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                width: 12vw;
                height: 9vh;
                margin: 17px;
                font-family: "carnero", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
                    Geneva, Verdana, sans-serif;
                font-size: 16px;
                cursor: pointer;
                border: solid 2px #01b3a7;
                font-size: 15px;

                &:hover {
                    background-color: #01b3a7;
                    color: #fff;
                    font-weight: bold;

                    a {
                        color: #fff;
                        font-weight: bold;
                    }
                }

                a {
                    text-decoration: none;
                    color: #525452;
                }
            }
        }
        .buttom {
            display: flex;
            width: 100%;
            height: 12vh;
            background-color: #162e44;

            nav {
                display: flex;
                align-items: center;

                ul {
                    width: 100%;
                    display: flex;
                    list-style: none;
                    margin: 0 20px;
                    position: relative;

                    li {
                        width: 10vw;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        font-family: "carnero", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
                            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
                        font-weight: bold;
                        color: #c8c8c8;
                        letter-spacing: 2px;
                        font-size: 15px;

                        &:hover {
                            background-color: #2d455c;
                            border-top: solid 4px #01b3a7;
                        }

                        a {
                            cursor: pointer;
                            text-decoration: none;
                            color: #f9f8fd;;
                            width: 10vw;
                        }

                        ul {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .text-banner {
        margin-bottom: -188px;
        p {
            width: 80%;
            position: relative;
            bottom: 41vh;
            font-size: 25px;
            left: 8vw;
            color: #fff;
            text-shadow: #0b2f32 0.1em 0.1em 0.2em;
            text-transform: uppercase;
        }
        .textmain{
            p{
                width: 80%;
                position: relative;
                bottom: 49vh;
                font-size: 56px;
                left: 8vw;
                color: #fff;
                text-shadow: #0b2f32 0.1em 0.1em 0.2em;
                 text-transform: none;
            }
        }
    }

    .cards {
        width: 100%;
        height: 82vh;
        display: flex;
        background-color: #f7f7f7;

        figure {
            width: 30vw;
            height: 75vh;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            img {
                width: 100%;
                &:hover {
                    cursor: pointer;
                    -moz-transform: scale(1);
                    -webkit-transform: scale(1);
                    transform: scale(1.2);
                    transition-duration: 1s;
                    filter: brightness(0.4);
                }
            }
            p {
                position: absolute;
                color: #fff;
                font-weight: 600;
                font-size: 30px;
                text-shadow: #264245 0.1em 0.1em 0.2em;

                .egypt {
                    left: 10%;
                }
                .canada {
                    left: 10%;
                }
                .portugal {
                    left: 10%;
                }
            }
        }
    }

    .other-tours {
        width: 100%;
        height: 13vh;
        background-color: #f7f7f7;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            text-decoration: none;

            button {
                width: 12vw;
                height: 8vh;
                font-family: "carnero", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",Geneva, Verdana, sans-serif;
                background-color: #fff;
                text-decoration: none;
                color:#525452;
                border: solid 1px #01b3a7;
                padding: 10px 25px;
                font-size: 16px;

                &:hover {
                    cursor: pointer;
                    background-color: #01b3a7;
                    color: #fff;
                    //font-weight: bold;
                }
            }
        }
    }

    .title{
        text-align: center;
        h2{
            font-size: 26px;
            color:#151515;
            letter-spacing: 1px;
        }
    }

    .ourservices{
    
        .main{
            height: 80vh;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 10px 95px;
            .card{
                width: 33%;
                height:33vh;
                display: flex;
                border: solid 8px #f4f4f4;

                &:hover{
                    transition: 0.8s;
                    box-shadow: 2px 2px 8px 4px #cdc8c8;
                    border: solid 8px #fff;
                }
                
                figure{
                    margin: 23px 5px 0 14px;
                    img{
                        width: 38px;
                    }
                }
                .icon{
                    margin: 3px 20px 0 5px;
                    h3{
                        color:#151515;
                        font-weight: 500;
                        font-size: 21px;
                    }
                    p{
                        color: #525452;
                    }
                }
            }

            .card1{
                width: 33%;
                height:33vh;
                display: flex;
                border: solid 8px #f4f4f4;

                &:hover{
                    transition: 0.8s;
                    box-shadow: 2px 2px 8px 4px #cdc8c8;
                    border: solid 8px #fff;
                }
                figure{
                    margin: 23px 5px 0 14px;
                    img{
                        width: 52px;
                    }
                }
                .icon{
                    margin: 12px 20px 0 0px;
                    h3{
                        color:#151515;
                        font-weight: 500;
                        font-size: 21px;
                    }
                    p{
                        color: #525452; 
                    }
                }
            }
        }
    }

    .team{
        height: 85vh;
        .titleteam{
            text-align: center;
            h2{
                font-size: 26px;
                color:#151515;
                letter-spacing: 1px;
                margin-top: 42px;
            }
        }
        .staff{
            display: flex;
            justify-content: space-around;
            margin:40px 0;

            .people{
                padding: 20px;
                background-color: #f7f7f7;
                border-radius: 20px;
                width: 250px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                picture{
                    margin-left: 16px;
                    img{
                        width: 13vw;
                        height: 29vh;;
                        border-radius: 50%;
                        border:4px solid #01b3a7;
                                        
                    }
                }
                h2{
                    height: 20px;
                    font-size: 18px;
                    text-align: center;
                    letter-spacing: 1px;
                    color:#151515;
                }
                p{
                    text-align: center;
                    color:#01b3a7;
                    margin: 8px 0;
                }
                a{
                    margin-left: 30px;
                    text-decoration: none;
                    color:#151515;
                    cursor: pointer;
                    font-weight: 600;
                }
            }
        }
    }
    
    .testimonials{
        display: flex;
        flex-direction: column;
        background-color: #f7f7f7;
        height: 92vh;

        .titletestimonials{
            text-align: center;
            h2{
                font-size: 26px;
                color:#151515;
                letter-spacing: 1px;
        
            }  
        }
        .main{
            display: flex;
            justify-content: space-around;
            width: 100%;
            .testimonials1{
                background-color: #fff;
                width: 385px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 33px;
                filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.15));
                
                picture{
                    margin-top: 20px;
                    img{
                        width: 200px;
                        border-radius: 50%;
                    }
                }
                p{
                    width: 269px;
                    font-size: 13px;
                    text-align: center;
                    margin-top: 20px;
                }
                h2{
                    color:#01b3a7;
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 23px;
                }
            }  
        }
        
    }
    
    .subscribe{
        background-image: url(../images/sea.jpg);
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .subtitle{
            h2{
                color:#fff;
                font-size: 48px;
                height: 5vh;
            }
        }

        .description{
            p{
                color:#fff;
                width: 40vw;
                text-align: center;
            }
        }
        .buttonsub{
            height: 10vh;
            display: flex;
            
            label{
                
            }
            input{
                opacity:0.3;
                font-family: "carnero", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
                "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
                font-size: 16px;
                height: 7vh;
                width: 30vw;
                color: #000;   
                font-weight: 600;
                border:none;
                
                ::placeholder{
                    color:#fff;
                }
         }
         .link{
            height: 7vh;
            width: 93px;
            margin-left: 10px;
            background-color: #01b3a7;
            display: flex;
            align-items: center;
            text-align: center;

            a{
                width: 100%;
                height: 5vh;
                text-decoration: none;
                background-color: #01b3a7;
                color: #fff;
                font-family: "carnero", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
                    Geneva, Verdana, sans-serif;
                font-size: 16px;
                cursor: pointer;
                
                &:hover {
                    font-weight: bold;

                    a {
                        font-weight: bold;
                    }
                }

            }
         }
            
        }
    }
    
    footer{
        height: 50vh;
    }
}
